* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {

    font-family: "Inter", sans-serif;
    font-weight: 700;
    letter-spacing: -1px;

}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    color: #f1f1e8;
    background: #0b0f0e;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}





/* Navigation bar */

header {
    background: #070b0a;
    color: white;
    padding: 25px 0;
    border-bottom: 1px solid rgba(255,255,255,0.08);
}


header h1 {
    font-size: 2rem;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-top: 15px;
}


nav a {
    color: #b8a06a;;
    text-decoration: none;
}




/* Hero (big image) section */

.hero {


    padding-top: 90px;

    background:
    linear-gradient(
        rgba(0,0,0,0.65),
        rgba(0,0,0,0.75)
    ),
    url("images/mountain.jpg");

    background-size: cover;
    background-position: center 70%;

    min-height: 80vh;

    display: flex;
    align-items: center;

    color: white;

    text-align: center;
}

.hero::after {

    content: "";

    position: absolute;

    bottom: 0;

    left: 0;

    width: 100%;

    height: 200px;

    background: linear-gradient(
        transparent,
        #0b0f0e
    );

    pointer-events: none;

}


.hero h2 {

    font-size: clamp(3rem, 7vw, 5.5rem);

    font-weight: 800;

    letter-spacing: -3px;

    line-height: 0.95;

}


.hero p {
    font-size: 1.2rem;
    margin-top: 20px;
}

.hero {
    position: relative;
}

.hero {
    overflow: hidden;
}







/* Article cards */

.featured {
    padding: 60px 0;
}

.cards {
    display: flex;
    gap: 25px;
    margin-top: 30px;
}

article {

    background: #141b18;

    border-radius: 12px;

    overflow: hidden;

    border:
    1px solid rgba(255,255,255,0.08);

    transition: transform 0.3s ease;

}

article h3 {
    color: #f5f5f2;;
}

article:hover {

    transform: translateY(-8px);

}



/* Footer */

footer {

    background: #050807;

    color:#f5f5f2;;
    text-align: center;
    padding: 20px;
}




/*Button*/

.button {

    display: inline-block;

    margin-top: 30px;

    padding: 15px 35px;

    background: #b79b5b;

    color: #111;

    text-decoration: none;

    border-radius: 30px;

    font-weight: 700;

    transition:
        transform 0.3s ease,
        background 0.3s ease,
        box-shadow 0.3s ease;

}


.button:hover {

    background: #d1b77a;

    transform: translateY(-3px);

    box-shadow: 0 10px 25px rgba(0,0,0,0.25);

}


/*buttons*/

.layer-item-2 {

    width: 120px;
    height: 32px;

    background: rgba(0, 0, 0, 0.341);

    border: 1px solid #b79b5b62;

    border-radius: 6px;

    color: #d7c7a0;

    font-family: Inter, sans-serif;

    font-size: 12px;

    cursor: pointer;

    font-weight: 10;

    z-index: 10;

    text-align: center;

    transition: 0.2s;

    justify-content: center;

    position: relative;

    bottom: 1%;

    



}


.layer-item-2:hover {

    background: rgba(183,155,91,0.25);

}


.layer-item-2.active {

    background: rgba(183,155,91,0.35);

}


/*cards*/

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.card {
    overflow: hidden;
    padding: 0;
}

.card h3,
.card p {
    padding: 15px 20px;
}

.card h3 {
    margin-top: 10px;
}

.cards {
    display: flex;
    gap: 25px;
}

.card {
    flex: 1;
    background: #141b18;
    overflow: hidden;
}







/* Navbar */

.navbar {

    position: fixed;

    top: 25px;

    left: 50%;

    transform: translateX(-50%);

    width: min(90%, 1200px);

    max-width: 1200px;

    z-index: 10;

    background: transparent;

    transition: top 0.35s ease;

}


.navbar.scrolled {

    top: 8px;

}


.nav-container {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 18px 30px;

    background: rgba(10,15,14,0.35);

    backdrop-filter: blur(10px);

    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.062);

    border-radius: 55px;

    transition:
        padding 0.35s ease,
        background 0.35s ease,
        box-shadow 0.35s ease;

}


.navbar.scrolled .nav-container {

    padding: 10px 24px;

    background: rgba(10,15,14,0.75);

    box-shadow: 0 12px 30px rgba(0,0,0,0.35);

}




/* Logo */

.logo {

    font-size: 1.8rem;

    letter-spacing: 3px;

    font-weight: 800;



}



/* Links */

.nav-container ul {

    display: flex;

    gap: 30px;

    list-style: none;

     align-items:center;

    margin:0;

    padding:0;

    list-style:none;

}

.nav-container a {

    color: white;

    text-decoration: none;

    font-weight: 500;

    transition: color 0.3s ease, font-size 0.3s ease;

}


.nav-container a:hover {

    color: #b79b5b;

}





.hidden {

    opacity: 0;

    transform: translateY(60px);

    transition:
        opacity 1s ease,
        transform 1s ease;

}


.show {

    opacity: 1;

    transform: translateY(0);

}






/* Featured Discovery */

.featured-discovery {

    padding: 100px 0;

}

.featured-grid {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 60px;

    align-items: center;

}


.featured-text h2 {

    font-size: clamp(2.5rem, 5vw, 4rem);

    line-height: 1;

    margin: 20px 0;

}

.featured-text p {

    color: #c7c7bc;

    font-size: 1.1rem;

}

.eyebrow {

    color: #b79b5b;

    letter-spacing: 3px;

    font-size: 0.85rem;

    font-weight: 700;

}

.featured-image img {

    width: 100%;

    height: 500px;

    object-fit: cover;

    border-radius: 20px;

    border: 1px solid rgba(255,255,255,0.12);

    box-shadow:
        0 20px 50px rgba(0,0,0,0.45);

    transition:
        transform 0.4s ease,
        box-shadow 0.4s ease;

}

.featured-image {

    position: relative;

}

.featured-image::after {

    content: "";

    position: absolute;

    inset: 0;

    border-radius: 20px;

    background: linear-gradient(
        transparent 70%,
        rgba(11,15,14,0.5)
    );

}




/*stats*/

.stats {

    padding: 90px 0;

    background: #070b0a;

    border-top: 1px solid rgba(255,255,255,0.08);

    border-bottom: 1px solid rgba(255,255,255,0.08);

}


.stats-grid {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 30px;

    text-align: center;

}


.stat h3 {

    font-size: 4rem;

    color: #b79b5b;

    line-height: 1;

}


.stat p {

    margin-top: 15px;

    color: #ddd;

}

.stat:nth-child(1) {
    transition-delay: 0.1s;
}

.stat:nth-child(2) {
    transition-delay: 0.25s;
}

.stat:nth-child(3) {
    transition-delay: 0.4s;
}

.stat:nth-child(4) {
    transition-delay: 0.55s;
}

.stat {

    transition: transform 0.3s ease;

}


.stat:hover {

    transform: translateY(-8px);

}

.stat h3 {

    font-family: "Inter", sans-serif;

    font-size: clamp(3rem, 5vw, 4.5rem);

    font-weight: 800;

    color: #b79b5b;

    letter-spacing: -3px;

}

.stat:nth-child(2) h3::after {
    content: "+";
}

.stat:nth-child(3) h3::after {
    content: "+";
}

.stat:nth-child(4) h3::after {
    content: "%";
}

.stat {

    padding: 35px 25px;

    border: 1px solid rgba(255, 255, 255, 0.047);

    border-radius: 20px;

    background: rgba(255, 255, 255, 0);

    backdrop-filter: blur(10px);

    transition: 
        transform 0.3s ease,
        border-color 0.3s ease;

}










/*article/*

/* Hero Image */

.article-hero {

    width: 100%;

    height: 70vh;

    overflow: hidden;

}

.article-hero img {

    width: 100%;

    height: 100%;

    object-fit: cover;

    object-position: center;

}


/* Header */

.article-header {

    max-width: 900px;

    margin: 30px auto 35px;

    text-align: left;

     position: relative;

     max-width: 900px;
     

}

.article-intro {

    max-width: 1500px;

    margin: 40px auto 0;

    font-size: 1.35rem;

    line-height: 1.8;

    color: rgba(255,255,255,0.82);

    font-weight: 400;

    padding-bottom: 40px;

    border-bottom: 1px solid rgba(255,255,255,0.12);

}

.article-category {

    color: #b79b5b;

    letter-spacing: 4px;

    font-size: 0.85rem;

    font-weight: 700;

    margin-bottom: 18px;

}

.article-header h1 {

    font-size: clamp(3rem,6vw,5rem);

    line-height: 1;

    letter-spacing: -2px;

    margin-bottom: 25px;

}

.article-meta {

    color: rgba(255,255,255,0.65);

    font-size: 1rem;

}

.article-hero {

    position: relative;

    height: 70vh;

    overflow: hidden;

}


.article-hero::after {

    content: "";

    position: absolute;

    bottom: 0;

    left: 0;

    width: 100%;

    height: 200px;

    background: linear-gradient(
        transparent,
        #0b0f0e
    );

    pointer-events: none;

}

.article-content {

    padding: 0px;

}

.article-body {

    max-width: 1000px;

    margin: auto;

    font-size: 1.15rem;

    line-height: 1.9;

}

.article-body h2 {

    margin-top: 80px;

    margin-bottom: 18px;

    font-size: 2.2rem;

}

.article-body p {

    margin-bottom: 28px;

}


blockquote {

    margin: 70px 0;

    padding-left: 30px;

    border-left: 4px solid #b79b5b;

    font-size: 1.5rem;

    font-style: italic;

    color: #f5f5f2;

}

figure {

    max-width: 800px;

    margin: 60px auto;

}

figure img {

    width: 100%;

    display: block;

    margin: 0;

    border-radius: 18px;

    box-shadow: 0 25px 60px rgba(0,0,0,.4);

}

figcaption {

    margin-top: 6px;

    text-align: center;

    font-size: 0.9rem;

    color: rgba(255,255,255,0.55);

    font-style: italic;

}





/*scrollbar*/

.reading-progress {

    position: fixed;

    top: 50%;

    left: 35px;

    transform: translateY(-50%);

    width: 3px;

    height: 220px;

    background: rgba(255,255,255,0.08);

    border-radius: 10px;

    z-index: 999;

}

.reading-progress-fill {

    width: 100%;

    height: 0%;

    background: #b79b5b;

    border-radius: 10px;

    transition: height .1s linear;

}

.reading-progress {

    opacity: 0;

    transition: opacity 0.4s ease;

}

.reading-progress.visible {

    opacity: 1;

}

.card-link {

    text-decoration: none;

    color: inherit;

}



.logo a {

    color: inherit;

    text-decoration: none;

    font: inherit;

    letter-spacing: inherit;

}

.navbar.scrolled nav ul li a {

    font-size: 0.9rem;

}



/*article index time*/

.article-card {

    display: flex;

    gap: 35px;

    padding: 25px;

    margin-bottom: 35px;

    background: rgba(255,255,255,0.05);

    backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,0.1);

    border-radius: 24px;

    overflow: hidden;

    transition: transform .3s ease, border .3s ease;

}


.article-card:hover {

    transform: translateY(-5px);

    border-color: rgba(183,155,91,0.5);

}

.article-card-image {

    width: 40%;

}


.article-card-image img {

    width: 100%;

    height: 260px;

    object-fit: cover;

    border-radius: 18px;

}

.article-card-content {

    flex: 1;

    display: flex;

    flex-direction: column;

    justify-content: center;

}


.article-card-content h2 {

    font-size: 2rem;

    margin: 10px 0;

}


.article-card-content p {

    color: rgba(255,255,255,0.75);

}


.article-meta {

    margin: 20px 0;

    color: #b79b5b;

    font-size: .9rem;

}

.articles-hero {

    padding-top: 180px;

    padding-bottom: 90px;

    text-align: center;

}


.articles-hero h1 {

    font-size: clamp(3rem, 6vw, 5rem);

    margin-top: 20px;

}


.articles-hero p:last-child {

    max-width: 650px;

    margin: 25px auto 0;

    font-size: 1.2rem;

    color: rgba(255,255,255,0.75);

}

.articles-list {

    padding-bottom: 100px;

}


.articles-list::before {

    content: "";

    display: block;

    height: 1px;

    background: rgba(255,255,255,0.12);

    margin-bottom: 50px;

}






/*globe*/




/*explore page*/


.explore-page{height:100vh;

overflow:hidden;
}



/* globe area */

.explore-page .explore-main {

    top:0;

    height:calc(100% - 60px);

}


/* Cesium itself */

#cesiumContainer {

    width:100%;

    height:60%;

    border-radius:0px;

    top: 0;

}
.explore-page {
    background-color: #000000;
}

/*navbar for explore*/

/* EXPLORE FLOATING NAVBAR */

.explore-page .navbar {

    position:absolute;

    top:20px;

    left:50%;

    transform:translateX(-50%);

    width:auto;

    height:auto;

    z-index:500;

    background:none;

    backdrop-filter:none;

    border:none;

}


.explore-page .nav-container {

    display:flex;

    align-items:center;

    gap:40px;

    height:52px;

    width:1000px;

    padding:0 28px;

    background:rgba(10,10,10,0.45);

    backdrop-filter:blur(20px);

    -webkit-backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,0.08);

    border-radius:30px;

}




.explore-page .logo {

    font-size:1.4rem;

}

.explore-page .volcano-info {

    top:calc(50% + 30px);

}


/*floating panel on explore*/

.explore-panel{

    position:absolute;

    left:50px;

    top: 420px;

    transform:translateY(-50%);

    width:240px;

    height: 420px;

    padding:20px;

    background:rgba(20,20,20,.55);

    backdrop-filter:blur(24px);

    border:1px solid rgba(255,255,255,.08);

    border-radius:28px;

    z-index:100;

}

.explore-page .explore-panel {

    top:calc(100%-50px);

}

.explore-panel h2 {
    font-size: 0.95rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.902);
}




.panel-subtitle{

    color:#b79b5b;

    letter-spacing:3px;


    font-size:.8rem;

    margin-bottom:0px;


}

.explore-panel h2{

    margin-bottom: auto;

}

.layer-list{

    display:flex;

    flex-direction:column;

    gap:18px;

    margin-top: 20px;

}

.layer-list label{

    display:flex;

    align-items:center;


    gap:12px;

    cursor:pointer;

}

.layer-list input{

    accent-color:#b79b5b;

}

.layer-item{

    width:100%;

    background:none;

    border:none;

    color:#9a9a9a;

    display:flex;

    align-items:center;

    gap:14px;

    cursor:pointer;

    transition:.25s;

    padding:6px 0;

    text-align:left;

    font:inherit;

}

.layer-dot{

    width:10px;

    height:10px;

    border-radius:50%;

    background:#555;

    transition:.3s;

}

.layer-item.active .layer-dot{

    background:#e6a986;

    box-shadow:

        0 0 10px #e07a3f,

        0 0 20px #e07a3f;

}

.layer-item:hover{

    color:white;

    transform:translateX(6px);

}

.layer-item.active{

    color:#ffffff;

    font-weight:600;

}



/*volcano popup*/

.volcano-info {

    display:none;

    position:fixed;

    right:50px;

    top:calc(50% + 40px);

    left:auto;

    transform:translateY(-50%);

    width:380px;

    background:rgba(15,15,15,0.72);

    backdrop-filter:blur(25px);

    border:1px solid rgba(255,255,255,0.12);

    border-radius:32px;

    overflow:hidden;

    color:white;

    z-index:200;

}






.info-image {

    width:100%;

    height:220px;

    object-fit:cover;

}

.info-content {

    padding:28px;

}


.info-status {

    color:#e09b42;

    font-size:.75rem;

    letter-spacing:3px;

    font-weight:700;

}

.info-name {

    font-size:2rem;

    margin:10px 0;

}

.info-details {

    display:flex;

    gap:15px;

    flex-wrap:wrap;

    color:#aaa;

    font-size:.9rem;

}

.info-description {

    line-height:1.6;

    color:#ddd;

}

#articleLink {

    display:inline-block;

    margin-top:20px;

    padding:12px 20px;

    border-radius:20px;

    background:#b79b5b;

    color:white;

    text-decoration:none;

}









.close-panel {

    position:absolute;

    top:18px;

    right:22px;

    background:none;

    border:none;

    color:white;

    font-size:28px;

    cursor:pointer;

    opacity:0.7;

    transition:0.2s;

}


.close-panel:hover {

    opacity:1;

    transform:scale(1.15);

}





